/* Important: Carolina Blue is: #99badd */
/*            Dark Blue is: #054e9c     */

/* Adjusts page for clean printing */
@media print{@page {size: landscape}}
@media print {
  .header, head, #printButton, #footerTextTop {
    visibility: hidden;
  }
  .wrapper,#footerTextBottom, #footerText2, #footerText3,
  #footerText4{
    visibility: visible;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 4.5pt;
    overflow: hidden;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}
body {
    background-image: url("images/background_image1.png");
}
#helpDiv{
    margin-top: 200px;
    height: 500px;
    width: 500px;
    background-color: orange !important;

}
.wrapper{
    background-color: #FFFFFF;
    box-shadow: 0px 30px 40px rgba(0,0,0,.5);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
    width: 1350px;
    height: 1050px;
}
.header{
    background-color: #66A8EA;
    margin: 0 auto;
    width: 1400px;
    height: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    left: 0;
    right: 0;
}
.leftTriangle{
    width: 0;
    height: 0;
    margin-top: 46px;
    border-style: solid;
    border-width: 0 25px 20px 0;
    border-color: transparent #054e9c transparent transparent;
}
.rightTriangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 25px 0 0;
    border-color: #054e9c transparent transparent transparent;
    margin-top: -20px;
    margin-left: 1375px;
}
#stockImageSVG{
    height: 65px;
    width: 65px;
    margin-left: 40px;
    margin-top: 20px;
    position: absolute;
}
#uncImageSVG{
    margin-left: 250px;
    margin-top: 10px;
    height: 80px;
    width: 300px;
    position: absolute;
}
#QFE_text{
    height: 59px;
    width: 140px;
    position: absolute;
    color: #fff;
    font-size: 3em;
    margin-top: 25px;
    margin-left: 70px;
    font-family: 'Comfortaa', cursive;
}
#searchBar{
    margin-left: 760px;
    margin-top: 20px;
    width: 392px;
    margin-right: 60px;
}
#searchBarButton{
    margin-top: -2px;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
    color: #333333;
    text-decoration: none;
    background-color: #B9DDFA !important;
}
#dateRangeSelector{
    position: absolute;
    color: white;
    margin-left: 760px;
    margin-top: 60px;
}
#from, #to{
    color: #5B5B5B;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: thin;
    border-color: #D4D4D4;
    font-family: Arial;
}
#toLabel{
    margin-left: 26px;
}#custom-bootstrap-menu{
position: absolute;
margin-top: 140px;
margin-left: 30px;
margin-right: 30px;
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 12px;
    background-color: rgba(230, 225, 225, 0.51);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    width: 93px;
    text-align: center;
    color: rgba(119, 119, 119, 1);
    background-color: rgba(247, 247, 247, 1);
    margin: 0 auto;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(169, 207, 242, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(219, 219, 219, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #dbdbdb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #dbdbdb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #dbdbdb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #e6e1e1;
}
/* End Navbar Styling */
/* Data Table Styling */
#tableArea{
    display: inline-block;
    border-radius: 0px 0px 0px 0px;
    margin-top: 0px;
    padding-top: 155px;
    margin-left: 10px;
    height: 500px;
    width: 290px;
    font-family: 'Radley', serif;
}
#chartTitle{
    text-align: left;
}
#chartItem{
    text-align: center;
}
#dataTable2 td{
    font-size: .8em;
    height: 43px;
    vertical-align: middle;
    align: center;
    font-family: 'Radley', serif;
}
#tableContainer{
    position: absolute;
    padding-top: 10px;
    margin-left: 10px;
    width: 270px;
    height: 630px;
    background-color: #fff;
}
#dataTable2{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 250px;
    background-color: #F9F9F9;
}
#chartArea{
   display: inline-block;
   background-color: #EBEBEB;
   border-radius: 0px 0px 0px 0px;
   margin-left: -10px;
   margin-top: -100px !important;
   height: 325px;
   width: 320px;
}
#chartContainer{
    background-color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    height: 300px;
    width: 300px;
}
#highchartsContainer{
    position: absolute;
    width: 300px;
    height: 300px;
}
#customArea3{
    display: inline-block;
    height: 325px;
    width: 320px;
    margin-left: -10px;
    background-color: #EBEBEB;
    border-radius: 0px 0px 0px 0px;
}
#customArea3Container{
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #fff;
}
#highchartsContainer2{
    position: absolute;
    width: 300px;
    height: 300px;
}
#highchartsContainer3{
    position: absolute;
    width: 300px;
    height: 300px;
}
#highchartsContainer4{
    position: absolute;
    width: 300px;
    height: 300px;
}
#highchartsContainer5{
    position: absolute;
    width: 300px;
    height: 300px;
}
#highchartsContainer6{
    position: absolute;
    width: 300px;
    height: 300px;
}
#customArea4Container{
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
}
#customArea4{
    display: inline-block;
    position: relative;
    height: 325px;
    width: 320px;
    margin-left: -10px;
    background-color: #EBEBEB;
    border-radius: 0px 0px 0px 0px;
}
#customArea5{
    display: inline-block;
    position: relative;
    height: 325px;
    width: 320px;
    margin-left: 294px;
    background-color: #EBEBEB;
    border-radius: 0px 0px 0px 0px;
}
#customArea5Container{
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
}
#customArea6{
    display: inline-block;
    position: relative;
    height: 325px;
    width: 320px;
    margin-left: -10px;
    background-color: #EBEBEB;
    border-radius: 0px 0px 0px 0px;
}
#customArea6Container{
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
}
#customArea7{
    display: inline-block;
    position: relative;
    height: 325px;
    width: 320px;
    margin-left: -10px;
    background-color: #EBEBEB;
    border-radius: 0px 0px 0px 0px;
}
#customArea7Container{
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
}
#printButton{
    position: absolute;
    margin-top: 165px;
    margin-left: 1303px;
    border-color: #EBEBEB  !important;
}
#printButton:hover{
    background-color: #B2D3FF;
    border-color: #fff !important;
}
td{
    font-size: 9px;
}
th{
    font-size: 11px;
}
.loader {
  color: #4A97FF;
  position: fixed;
  z-index: 100;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  top: 45%;
  left: 44.2%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#footerTextTop{
    float: left;
    width: 100%;
    margin: auto;
    font-size: .7em;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
}
#footerTextBottom{
    float: left;
    width: 100%;
    margin: auto;
    font-size: .7em;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
}
#footerText2, #footerText3{
    float: left;
    width: 100%;
    margin: auto;
    font-size: .7em;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
}
#footerText4{
    float: left;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
    font-size: .7em;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
}
#myOverlay {
  opacity:    0.5;
  background: #ACACAC;
  /* background: #464646; */
  width:      100%;
  height:     100%;
  z-index:    2;
  top:        0;
  left:       0;
  position:   fixed;
  display: none;
}
tspan{
    font-size: .7em;
}
#chartBar{
    background-color: #EBEBEB;
    height: 10px;
    width: 948px;
    position: absolute;
    margin-top: -340px;
    margin-left: 294px;
}
#bottomBox{
    width: 1000px;
    margin: 0 auto;
    font-size: 8.5pt;
    font-family: 'Comfortaa', cursive;
    font-family: 'Raleway', sans-serif;
}
